@model IEnumerable<OctroitCredits.Models.GarantieModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credit_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Infogarantie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valeurestimee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Credit_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Infogarantie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valeurestimee)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
