@model OctroitCredits.Models.CompteModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>CompteModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.numCompte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numCompte)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.montant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.montant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.libelle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.libelle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateOperation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateOperation)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
