@model IEnumerable<OctroitCredits.Models.EcheanceModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.echeanceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.creditId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.montantcredit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.montantpayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateEcheance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.echeanceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creditId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montantcredit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montantpayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateEcheance)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
